<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                <div class=" text-center"><img class="img-fluid rounded-3 my-1"
                        src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png"
                        alt="No Image"/></div>
                <p>Your Cart Is Empty</p>
                <button class="btn mb-2" [routerLink]="''">Back Home</button>
            </div>
        </div>
    </div>
</div>